@import 'vars';
// @import "prefixer.less";
// @import "accordion.less";
// @import "hamburger.less";
// @import "variables.less";

$font-size: 16px;

@keyframes bounce { 50% { transform: translate(0px, -15px); } 100%  { transform: translate(0px, 0px); } }
@keyframes hamburgerShow { 0% { opacity: 0;	} 100% { opacity:1;	}}

body {
	font-family: Oswald;
	font-weight: 400;
	font-size: $font-size;
	line-height: 2em;
	color: $primary;

	p {
		padding: 1em 2em 1em 2em;
		text-align: justify;
	}
}

::selection {
  color: $highlight;
  background: none;
}

h1, h2, h3, h4, h5 {
	font-family: Oswald;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 4.5em;
	line-height: 1em;
	background: $primary;
	color: $highlight;
	padding: 15px 0;
	margin: 0;
	border-top: solid 5px $highlight;
}

h3 {
	font-size: 2.5em;
	color: $highlight;
}

h4 {
	font-size: 1.5em;
	margin: 11px 0;
	color: $primary;
}

a {
	color: $highlight;
	text-decoration: none;

	&:hover {
		color: darken($highlight, 10%);
		text-decoration: underline;
	}
}
